/* --------------------------Introdução------------------------- */
.intro {
    background-image: url("../images/bg-intro-portfolio.jpg");
}
/* ---------------------------Section--------------------------- */
section {
    background-color: #F5F5F5;
    height: 180px;
}
section .sec-cont {
    margin-top: 50px;
}
.sec-cont hr {
    margin: 5px auto;
}

/* --------------------------Portfólio-------------------------- */
.portfolio {
    background-color: #0A0A0A;
    height: 640px;
}
.portfolio hr {
    background-color: #9D32C9;
}
.portfolio h3 {
    padding-top: 40px;
}
.portfolio .foto3 {
    margin-top: 20px;
}
.portfolio p {
    margin: 20px 0;
}
.images {
    padding-top: 30px;
}
/* --------------------------Pre-contato-------------------------- */
#pre-contato-port {
    margin-top: 0;
}