/* --------------------------Introdução------------------------- */
.intro {
    background-image: url("../images/bg-intro-portfolio.jpg");
}
/* ---------------------------Section--------------------------- */
section {
    background-color: #F5F5F5;
    height: 180px;
}
section .sec-cont {
    margin-top: 50px;
}
.sec-cont hr {
    margin: 5px auto;
}

/* --------------------------Portfólio-------------------------- */
.portfolio {
    background-color: #0A0A0A;
    height: 640px;
}
.portfolio .foto3 {
    margin-top: 20px;
}
.images {
    padding-top: 30px;
}
#tres-pontos {
    margin-top: 5px;
}
